@import "~bootstrap/dist/css/bootstrap.min.css";

.has-error label,
.has-error input,
.has-error textarea {
  color: red;
  border-color: red;
}

.list-unstyled li {
  font-size: 13px;
  padding: 4px 0 0;
  color: red;
}
